section.home{
  padding: 10px;
  background-color: black;
  background-image: url(../img/IMG.png)  ;
  background-repeat: no-repeat;
  background-size: 95% ;
  background-position: center bottom;
  height: 600px;
  background-position: 550px 46%;
}
.navbar-brand img{
  width: 200px;
  height: auto;
}
.icon-menu{
  color: white;
  font-size: 1.6em;
}
a.nav-link{
  color: white;
  font-family:"roboto";
  font-size: 1.2rem;
  margin-left: 100px; 
}
h2{
  color: white;
  padding: 30px;
  margin: 10px 50px 0px;
  font-size: 3rem;
  font-family:"roboto";
}
p{
  margin: 20px 50px 10px;
  color: white;
  font-size: 2rem;
  font-family:"roboto";
}
h2.color{
  color: black;
  font-size: 2.6rem;
  text-align: center;
  font-family:"roboto";
}

p.black{
  color: black;
  padding: 20px;
  font-size: 1.3rem;
  font-family:"roboto";
}
img.patada{
  top: 0px;
  width: 400px;
  height: auto;
  padding: 10px;
}
h2.eslogan{
  background: #850f1a;
  position: absolute;
  top: 280px;
  left: 50px;
  color: white;
  font-size: 3rem;
  font-family:"roboto";
}


.thumbnail { 
  position: relative; 
 } 
 .cursos1{
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 30px;
}
.cursos1 div{
  flex-basis: 50%;
}
.item{
  padding: 2rem;
}

.item p{
  background:#850f1a;
  border-radius: 100%;
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 1.7rem;
  text-align: center;
  text-align: top;
}
.item p img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
.item p .arriba{
  left: 3.75rem;
}
.item p .centro{
  top: 50%;
  transform: translateY(-50%);
  left:-4rem;
}
.item p .abajo{
  top: auto;
  bottom: 0;
  left: 3.75rem;
}
 
.posicion{
  left: 100px;
}
.iconP{
  top: -1px;
  width: 110px;
  left: -35px;
  position: absolute;
}

.sub{
  color: #860f1b;
}
.parrafo{
  color: #ffffff;
  font-size: 1.1rem;
}
.title{
  font-size: 2rem;
  color:white;
  
}

.posturas{
  padding: 50px;
}
.position{
  width: 260px;
}

.imgcur{
 width: 80%;
 height: 50%;
 margin: 50px 50px;
}


.NC{
  width: 200px;
  height: 50px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  border-radius: 6px;
  border: 2px solid #ffffff;
  margin: 0px 800px;
}
a{
  color: red;
}
.equipo{
  margin: 50px auto;
  width: 100%;
  height: 100%;
}
 h2.nosotros{
  font-size: 3em;
  font-family: "roboto";
  color:red;
  text-align: center;
}
h4{
 color: black;
}
.fotos{
  width: 260px;
  height: 360px;
}
.equipo p{
  font-size: 1em;
  font-family: "roboto";
  margin: auto 50px;
  padding: 20px;
}
.img-equipo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nombres{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nombres{
  color: black;
  font-size: 1.5em;
  font-family: "roboto";
  margin: 0 30px;
}
.footer{
  display: flex;
  background-color: black;
  height: 200px;
  color: white;
}
.redes{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.formu input{
  margin: 0px 100px 40px; 
  width: 250px;
  height: 40px;
}
p.parrafob{
  margin: 10px 100px 20px;
  font-size: 1em;
  font-family: "roboto";
  color: white;
}
h5.sig{
  margin: 0px 0px 0px;
  text-align: center;
  font-size: 2rem;
}
p.copy{
  font-size: 1.3rem;
  margin: 0px 20px 0px;
}
input.button{
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #7b0b07;
  border-radius: 6px;
  border: 2px solid #ffffff;
}
body{
  overflow-x: hidden;
}